h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    margin-right: 40px;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: fit-content;
    width: fit-content;
    background: #34dbeb;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    padding: 4px;
}