.Ghe button{
    margin:0.5rem;
    font-size:8pt;
    width: 1.5rem;
    height:1.5rem;
    padding:1px;
}

.Ghe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}